body{
    background-color: #EDEDED;
}

.product-container{
    display: flex;
    flex-direction: column;

    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        margin-bottom: 50px;

        @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2) {
            margin-bottom: 0 !important;
        }

        .content{
            display: flex;
            flex-direction: column;
            text-align: center;

            @media only screen 
            and (min-device-width: 320px) 
            and (max-device-width: 480px)
            and (-webkit-min-device-pixel-ratio: 2) {
                h1{
                    font-size: 24px !important;
                }

                p{
                    font-size: 18px !important;
                }
            }

            h1{
                font-family: "Bella";
                font-weight: normal;
                font-size: 36px;
                text-align: center;
                color: #1e2127;
            }

            p{
                font-family: 'Quicksand', sans-serif;
                font-weight: normal;
                font-size: 22px;
                text-align: center;
                color: #1e2127;
                width: 80%;
                margin: 0 auto;
            }
        }

        .line{
            width: 8%;
            height: 5px;
            border-radius: 30px;
            background-color: #1e2127;
            position: relative;
            top: 100px;

            @media only screen 
            and (min-device-width: 320px) 
            and (max-device-width: 480px)
            and (-webkit-min-device-pixel-ratio: 2){
                width: 20% !important;
                height: 4px !important;
            }
        }
    }

    .hero-lottie{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;

        @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2) {
            height: 50vh;
        }
    }

    .highlights{
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;

        @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2){
            height: auto !important;

            .box-dark{
                right: -15em !important;
                top: 5em !important;
            }

            .box-grey{
                left: -10em !important;
            }
        }

        .box-dark{
            position: absolute;
            right: 5%;
            top: 0;
        }

        .box-grey{
            position: absolute;
            left: 5%;
            top: 20%;
        }

        .pricing{

            strong{
                font-family: 'Quicksand', sans-serif;
                font-weight: 900;
                font-size: 42px;
                text-align: left;
                color: #1e2127;
                margin-right: 20px;
            }

            p{
                font-family: 'Quicksand', sans-serif;
                font-weight: 400;
                font-size: 42px;
                color: #1e2127;
                text-decoration: line-through;
            }
        }

        .content{
            display: flex;
            flex-direction: column;
            margin-top: 200px;

            .title{
                flex-direction: column;
                z-index: 2;

                p{
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 30px;
                    text-align: center;
                    color: #1e2127;
                }
                
                h1{
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 900;
                    font-size: 24px;
                    line-height: 30px;
                    text-align: center;
                    color: #1e2127;
                }
            }

            .features{
                margin-top: 100px;

                @media only screen 
                and (min-device-width: 320px) 
                and (max-device-width: 480px)
                and (-webkit-min-device-pixel-ratio: 2) {
                    flex-direction: column !important;

                    .feature{
                        margin-bottom: 50px;

                        h1{
                            font-size: 22px !important;
                        }

                        p{
                            font-size: 16px !important;
                        }
                    }
                }
               
                .feature{
                    flex-direction: column;
                    text-align: center;
                    margin-left: 20px;
                    margin-right: 20px;

                    h1{
                        font-family: 'Quicksand', sans-serif;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 30px;
                        text-align: center;
                        color: #1e2127;
                        margin-top: 25px;
                    }

                    p{
                        font-family: 'Quicksand', sans-serif;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 30px;
                        text-align: center;
                        color: #1e2127;
                    }
                }
            }
        }
    }

    .summary{
        width: 100%;
        height: 100vh;

        @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2){
            flex-direction: column;
            height: auto !important;

            .column{
                width: 100% !important;

                .content{
                    padding: 30px !important;
                }
            }
        }

        .column{
            width: 50%;
            height: 100%;
            align-items: center;
            
            .content{
                flex-direction: column;
                flex: 1;
                text-align: left;
                align-items: flex-start;
                padding-right: 150px;


                h2{
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 30px;
                    color: #1e2127;
                    text-align: left;
                    margin-bottom: 25px;
                }
    
                p{
                    font-family: 'Quicksand', sans-serif;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 25px;
                    text-align: left;
                    color: #1e2127;
    
                }

                .button{
                    margin-top: 100px;
                    background-color: #1E2127;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }


        }
    }

    .preview{
        flex-direction: column;
        margin-top: 100px;

        .header{
            height: auto;

            p{
                font-family: 'Quicksand', sans-serif;
                font-weight: 400;
                font-size: 16px;
                text-align: left;
                color: #1e2127;
            }

            h1{
                font-family: 'Quicksand', sans-serif;
                font-weight: 900;
                font-size: 24px;
                line-height: 30px;
                text-align: center;
                color: #1e2127;

            }
        }

        .content{
            width: 100%;
            height: auto;
            flex-direction: column;

            @media only screen 
            and (min-device-width: 320px) 
            and (max-device-width: 480px)
            and (-webkit-min-device-pixel-ratio: 2){
                margin-top: 50px;

                .items{
                    flex-direction: column;
                    

                    .item{
                        width: 100% !important;
                        margin-bottom: 0px !important;
                        padding-left: 30px;
                        padding-right: 30px;
                        padding-top: 0px;
                        padding-bottom: 0px;
                    }
                }
            }
            .items{
                width: 100%;
                
                .item{
                    width: 50%;
                    height: auto;
                    margin-bottom: 50px;
                }
            }
        }
    }
}
